/target/cucumber-report-html
/target/generated-sources
/target/generated-test-sources
/target/maven-archiver
/target/maven-status
/target/surefire-reports
/target/classes/META-INF
/target/test-classes/
/hs_err_pid42052.log
/hs_err_pid50480.log
/hs_err_pid50720.log
/replay_pid42052.log
/replay_pid50480.log
/replay_pid50720.log
/src/test/java/pageFactory/ConfirmaciónPage_PageFactory.java
/src/test/java/pageFactory/DestinoPage_PageFactory.java
/src/test/java/pageFactory/HomePage_PageFactory.java
/src/test/java/pageFactory/LoginPage_PageFactory.java
/src/test/java/pageFactory/ReservaPage_PageFactory.java
/src/test/java/pageFactory/VuelosPage_PageFactory.java
/src/test/java/pages/
/src/test/java/StepsForBackground/
/src/test/java/StepsForHooks/
/src/test/java/StepsDefinitions/AgenciaViajeSteps_PageFactory.java
/src/test/java/StepsDefinitions/GoogleSearchSteps.java
/src/test/java/StepsDefinitions/LoginDemoSteps_PageFactory.java
/src/test/java/StepsDefinitions/loginDemoSteps.java
/src/test/java/StepsDefinitions/loginDemoStepsPOM.java
/src/test/java/StepsDefinitions/loginSteps.java
/src/test/resources/FeaturesWithTags/
/src/test/resources/HooksDemo/
/src/test/resources/BackgroundDemo/
/src/test/resources/Features/AgenciaViaje.feature
/src/test/resources/Features/GoogleSearch.feature
/src/test/resources/Features/login.feature
/src/test/resources/Features/loginDemo.feature
/src/test/java/TestRunnerForBackgroundDemo/

